body{
    font-family: Arial, sans-serif;
}

.account-bar {
    display: flex;
    float: right;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    max-width: 300px;
    margin-top: -70px;
    height: 80px;
}

.account-bar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.account-profile{
    margin-top: -10px;
}

.account-details {
    margin-top: -20px;
    margin-left: -55px;
    display: flex;
    justify-content: space-between;
}
.account-details h3 {
    font-size: 1.2rem;
}

.account-details li{
    padding-left: 5px;
    margin: 10px;
}

.account-status, .account-location {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #555;
    margin-top: 5px;
}
.account-status::before {
    content: '●';
    color: green;
    font-size: 1rem;
    margin-right: 5px;
}
.account-location {
    background-color: #f57c00;
    color: #fff;
    width: max-content;
    padding: 3px 10px;
    border-radius: 15px;
}
.account-location::before {
    content: '📍';
    margin-right: 5px;
}

/* a navigation blocks on the left side with orange color*/


body{
    font-family: Arial, sans-serif;
}

/* a navigation blocks on the left side with orange color*/
nav{
    background-color: #FFA500;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    padding-top: 20px;
}

nav ul{
    list-style-type: none;
    padding-left: calc(0%);
}



/* a block of navigation links with orange color background and hover effect to white color*/
nav a{
    display: block;
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    background-color: #FFA500;
}

nav a:hover{
    background-color: white;
    color: orange;
    width: auto;
}

nav .logo-nav{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.logo-nav img{
    width: 50px;
    margin:auto;
}

.logo-nav h2{
    padding: 16px;
    padding-top: 0px;
    text-align: center;
    color: white;
}

main{
    margin-top: 70px;
    margin-left: 200px;
    padding: 20px;
}



.summary ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -50px;
    margin-top: -30px;
}

.summary h2{
    font-size: 30px;
}

.overview{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 20px;
}

.icon {
    font-size: 40px;
    color: orange;
    margin-right: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.title{
    font-size: 20px;
}

.badge {
    display: flex;
    align-items: center;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top:20px;
}

.badge .percentage {
    margin-left: 5px;
}

.total{
    font-size: 25px;
    font-weight: bold;
}

.spending {
    padding: 20px;
    margin-top: -50px;
    margin-left:-70px;
}

.spending ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.spending h3{
    font-size: 30px;
}

.spending li{
    margin-left: 20px;
}

.chart {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    
}


.chart h3 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    height: 700px;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: -30px;
}


.section {
    padding: 20px;
    width: 800px;
    
}

.section h2{
    font-size: 30px;
    
}

.menu-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 550px;
}

.menu-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.trip-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.trip-card img {
    margin-right: 10px;
    width: 150px;
    height: 150px;
}
.trip-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.trip-details h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.trip-details .location, .trip-details .dates {
    display: flex;
    align-items: center;
    font-size: 1em;
}
.trip-details .location::before {
    content: '📍';
    margin-right: 5px;
}
.trip-details .dates::before {
    content: '📅';
    margin-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.menu-section a{
    text-decoration: none;
}

.name-destination{
    font-weight: bold;
}

.status{
    padding:10px;
    border-radius: 10px;
    width: max-content;
    color: white;
    background-color: rgb(0, 130, 15);
}

.upcoming{
    background-color: grey;
}

.modal {
    display: none; 
    position: fixed; 
    padding-top: 100px; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 40%;
}

.modal-content .image img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .general{
    display: flex;
    margin-left: -20px;
}

.modal-content .general p{
    padding:5px 30px;
    margin : 0;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



@media (max-width: 768px) {
    body{
        margin: 0;
        
    }

    nav {
        width: 100%;
        height: max-content;
        margin:0;
        top: 0;
        position: fixed;
        padding: 0;
        overflow-y: hidden;
        font-size: 0.76em;
    }

    nav ul {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    nav h2 {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    nav ul li a{
        padding : 5px 8px;
    }

    nav .logo-nav img{
        margin: 0;
        display: none;
    }

    .logo-nav h2{
        padding: 0px;
        text-align: center;
        color: white;
    }

    nav .logo-nav{
        display: block;
        padding: 0;
        margin-bottom: 0;
    }

    .account-bar{
        float: none;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }



    main {
        margin: auto auto;
    }


    header{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    header h1{
        text-align: center;
    }


    header h2{
        text-align: center;
    }

    .summary ul {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .summary h2{
        text-align: center;
        margin-bottom: 50px;
    }

    .overview {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    .spending {
        margin-left : calc(5%);
        margin-right: auto;
        max-width: 500px;
        height: max-content;
    }


    .spending h3{
        text-align: center;
    }
    
    .menu-container {
        flex-direction: column;
        height: auto;
    }

    .section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-section {
        height: auto;
    }

    .chart{
        margin-left: auto;
        margin-right: auto;

    }

    .section h2 {
        text-align: center;
    }

    .trip-card img {
        width: 100px;
        height: 100px;
    }

    .trip-details {
        padding: 10px;
    }

    .trip-details h3 {
        font-size: 1rem;
    }
    
    .trip-details .location, .trip-details .dates {
        font-size: 0.875rem;
    }

    .modal-content{
        width: 70%;
    }

    .description .general{
        display: block;
    }

    .modal-content .general{
        display: block;
        margin: 0 auto;
    }

    .modal-content .general  p{
        margin-left: 2px;
        font-size: 0.9em;
    }

    .modal-content .image img{
        height: 50%;
    }
}