* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/img/landing_login_register/register_login_background.webp'); /* Replace with the actual image URL */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.signup-form {
    display: block;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: max-content;
    text-align: center;
}

.signup-form h1 {
    margin-bottom: 10px;
}

.signup-form p {
    font-size: 1em;
    margin: 10px 0;
}

.signup-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.signup-form label {
    font-size: 1.3em;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.header{
    margin-bottom: 40px;
}

.header .circle{
    width: 30px;
    height: 30px;
    background-color: rgb(156, 156, 156);
    margin: auto;
    border-radius: 90px;
}

.signup-form input {
    font-size: 1.3em;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.pass-label{
    display: flex;
    justify-content: space-between;

}

.signup-form .password-toggle {
    margin-top: 10px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.form-group #password{
    margin-bottom: 10px;
}

.form-group a{
    text-align: right;
    margin: 10px;

}

.submit-container{
    margin-top: 20px;
}

.signup-form .submit-btn {
    background-color: #ff8800;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
}

.signup-form .submit-btn:hover {
    background-color: #e67e22;
}



@media (max-width: 768px) {
    .signup-form {
        width: 60%;
    }

    .signup-form label,
    .signup-form input {
        font-size: 1.1em;
    }

    .signup-form .submit-btn {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .signup-form {
        width: 80%;
    }

    .signup-form label,
    .signup-form input {
        font-size: 1em;
    }

    .signup-form .submit-btn {
        width: 70%;
    }
}
